@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

// All similar content styling
@dark-color: #111;
@light-color: #ffff;
.look {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
section, footer {
    font-family: 'poppins', sans-serif;
    padding: 40px 20px;
    .title {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 30px;
        margin-bottom: 40px;
    }
    //create line straight
    .title::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 250px;
        height: 3px;
        background: @dark-color;
        transform:  translateX(-50%);
    }
    .title::after {
        content: "";
        position: absolute;
        bottom: -13px;
        left: 50%;
        font-size: 20px;
        color: crimson;
        padding: 5px;
        background: @light-color;
        transform:  translateX(-50%);
    }
}



//Navigation Bar styling
#navbar {
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
    .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        .logo {
            a {
                color: #ffff ;
                font-size: 3.5rem;
                font-weight: 600;
            }
        }
        .menu {
            transition: all 0.3s ease-out;
            li {
                list-style: none;
                display: inline-block;
                
                a {
                    color: #ffff;
                    font-size: 2rem;
                    font-weight: 500;
                    margin: 0 10px;
                    transition: color 0.2s ease-out;
                }
                a:hover {
                    color: crimson;
                }
            }
        }
        // Menu button styling
        .menu-btn {
            color: #ffff;
            font-size: 30px;
            cursor: pointer;
            display: none;
            transition: all 0.2s ease-out;
        }
    }
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0; //hide navigation
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background-color: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 100;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;
}
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    position: auto;
}
// Home Section Styling
.home {
    display: flex;
    background: url("https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment:scroll;
    font-family: 'Ubuntu', sans-serif;
    color: #ffff;
    background-color: @dark-color;
    .max-width {
        margin: auto 0 auto 50px;
        .home-content {
            .text-1 {
                font-size: 30px;
            }
            .text-2 {
                font-size: 75px;
                font-weight: 500;
                margin-left: -3px;
            }
            .text-3 {
                font-size: 40px;
                margin: 5px 0;

                span {
                    font-weight: 500;
                    color: crimson;
                }
            }
            .cont {
                a {
                    display: inline-block;
                    background: crimson;
                    color: #ffff;
                    font-size: 1.5rem;
                    padding: 1.5rem 2.5rem;
                    margin-top: 1.5rem;
                    border-radius: 3rem;
                    transition: all 0.3s ease;
                }
                a:hover {
                    color: #ffff;
                    background: #171717;
                    transform: scale(1.1) ;
                }

            }
        }
    }
}
// About styling


.about {
    .look();
    background-color: @light-color;
    font-family: 'Poppins', sans-serif;
    .title::after {
        content: "Information";
    }
    .max-width {
        display: flex;
        flex-direction: column;
        .about-content {
            display: flex;
            justify-content: center;
            align-items: center;
            .column {
                width: 50%;
            }
            .left {
                display: flex;
                justify-content: center;
                padding: 10px 20px;
                img {
                    flex: 0.6;
                    height: 400px;
                    width: 100%;
                    max-width: 300px;
                    border-radius: 40px;
                }
            }
            .right {
                .text {
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 1.3rem;
                    text-align: left;
                    padding: 0 50px;
                }
                a {
                    display: inline-block;
                    background: crimson;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 1rem 2.5rem;
                    margin-top: 1.5rem;
                    border-radius: 3rem;
                    border: 2px solid crimson;
                    transition: all 0.2s ease-out;
                }
                a:hover {
                    background: #171717;
                    transform: scale(1.1);
                }
            }
        }
    }
}

// service section styling
.services {
    color: #ffff;
    background-color: @dark-color;
    .look();
    .max-width {
        .title::before {
            background: #fff;
        }    
        .title::after {
            content: "What i provide";
            color: crimson;
            background: #111;
        }
        .serv-content {
            .look();
            justify-content: center;
            .card {
                background: #222;
                text-align: center;
                border-radius: 10px;
                padding: 20px 25px;
                margin: 20px;
                cursor: pointer;
                transition: all 0.3 ease;
                width: 100%;
                max-width: 500px;
                .box {
                    i {
                        font-size: 50px;
                        color: crimson;
                    }
                    .text {
                        font-size: 25px;
                        font-weight: 500;
                        margin: 10px 0 7px 0;
                    }
                }
                
            }
            .card:hover {
                background: crimson;
                i {
                    color: #fff;
                }
            }
        }
    }
}

// Skill section styling
.skills {
    background-color: @light-color;
    .max-width {
        .title::after {
            content: "What i know";
        }
        .skills-content {
            .look();
            .column {
                width: 50%;
            }
            .left {
                .left__title {
                    font-size: 20px;
                    font-weight: 600;
                }
                a {
                    display: inline-block;
                    background: crimson;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 1rem 2.5rem;
                    border-radius: 3rem;
                    border: 2px solid crimson;
                    
                }
                .left__content {
                    font-size: 1.5rem;
                    text-align: center;
                    padding: 1.5rem;
                    ul {
                        list-style: none;
                    }
                }
            }
            .right {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .container {
                    background-color: rgb(112, 120, 220);
                    padding: 10px 25px;
                    margin: 5px;
                    width: 120px;
                    border-radius: 10px;
                    color: #fff;
                }
            }
        }
    }
}

// Footer section sytling
footer {
    background-color: @dark-color;
    color: #fff;
    .max-width {
        margin-bottom: 10px;
        .footer__copyright {
            font-size: 1.5rem;
            text-align: center;
        }
        .title::before {
            background: #fff;
        }
        .title::after {
            content: "";
            color: crimson;
            background: #111;
        }
        .footer-content {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            .column {
                width: 50%;
            }
            .left {
                padding: 10px;
                .container {
                    display: flex;
                    padding: 10px 0;
                    font-size: 15px;
                    align-items: center;
                    text-align: center;
                    i {
                        display: inline-block;
                        background: #ffff;
                        color: #111;
                        padding: 0.9rem;
                        font-size: 2rem;
                        border-radius: 50%;
                    }
                    p {
                        margin-left: 20px;
                        a {
                            color:#ffff
                        }
                    }
                }
            }
            .right {
                justify-content: center;
                .social {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li {
                        list-style: none;
                        padding: 10px 13px;
                        background-color: rgb(39, 39, 39);
                        margin: 5px;
                        border-radius: 5px;
                        a {
                            color: #ffff;
                            
                            i {
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Responsive media

@media (max-width: 990px) {
    #navbar {
        .max-width {
            padding: 0 30px;

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                height: 100vh;
                width: 80%;
                left: -100%; //hide navigation
                top: 0;
                background: #000;
                text-align: center;
                transition: all 0.5s ease-out;
                li {
                    display: block;
                    a {
                        display: inline-block;
                        margin: 15px 0;
                        font-size: 30px;
                    }
                }
            }
            .menu.active {
                left: 0;
            }
            
            .menu-btn {
                display: block;
                z-index: 1000;
            }
        }
    }
    .backdrop.active  {
        display: block;
    }
    .home {
        .max-width {
            margin: auto 0 auto 30px;
            .home-content {
                .text-1 {
                    font-size: 2rem;
                }
                .text-2 {
                    font-size: 4rem;
                    font-weight: 500;
                    margin-left: -3px;
                }
                .text-3 {
                    font-size: 3rem;
                    margin: 5px 0;
    
                    span {
                        font-weight: 500;
                        color: crimson;
                    }
                }
            }
            .cont {
                a {
                    font-size: 1rem;
                    padding: 1rem 2rem;
                }
            }
        }
    }
}

@media (max-width: 678px) {
    .about {
        .max-width {
            .about-content {
                flex-direction: column;
                .column {
                    width: 100%;
                    image {
                        height: 100vh;
                    }
                }
            }
        }
    }

    footer {
        .max-width {
            .footer-content {
                .column {
                    width: 100%;
                }
                .left {
                    .container {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
